yfinance
pandas
numpy
scikit-learn
tensorflow
keras
uvicorn
matplotlib
seaborn
jupyter
gspread
joblib
psutil
prometheus-fastapi-instrumentator
requests
python-multipart
fastapi
starlette
pytest
pytest-cov